page-list {
    .list-card-header {
        font-size: 2rem;
    }
    .card-content-md {
        padding: 4px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .txt-pedding {
        padding: 0 10px 0 0;
    }
}